header {
    background-image: url(../images/apple-pie.jpg);
    background-size: cover;
    height: 450px;
    margin: 0 auto;
    font-size: 30px;
}


body {
    color: black;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    color: white;
    font-weight: normal;
    text-align:center;
    padding-top: 150px;
    margin: 0;
}

.text-div {
    padding: 70px;

}


.image-separator {
    height: 50px;
    display:block;
    margin:auto;
}

